* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding-left: 72px;
  padding-top: 53px;
}

p {
  font-size: 15px;
}

a {
  color:rgb(29, 155, 240);
  text-decoration: none;
}